<div class="flex justify-between align-center my-3">

    <select onchange="tableSizeChange('{{ path('app_user') }}', this, {{ currentPage }})" class="form-select to-load shadow bg-light w-fit">
        {% for allowedSize in allowedTableSize %}
            <option value="{{ allowedSize }}" {% if size == allowedSize %} selected {% endif %}>{{ allowedSize }}</option>
        {% endfor %}
    </select>

    <div class="flex justify-between align-center">
        
        <a  role="button" 
            href="{{ path('app_user', {'page': 1, 'size' : size}) }}" 
            draggable="false"
            class="btn btn-light shadow me-1 to-load {% if (currentPage == (1)) %} disabled {% endif %}">
            <i class="bi bi-chevron-double-left"></i>
        </a>

        {% for i in (currentPage - 3)..(currentPage + 1) %}

            {% if (i + 1 > 0) and (i + 1 <= nbPage)  %}
                <a  role="button" 
                    href="{{ path('app_user', {'page': i + 1, 'size' : size}) }}" 
                    draggable="false" 
                    class="btn btn-light shadow mx-1 to-load {% if (currentPage == (i + 1)) %} bg-primary disabled {% else %} bg-light {% endif %}">
                    {{ i + 1 }}
                </a>
            {% endif %}

        {% endfor %}
        
        <a  role="button" 
            href="{{ path('app_user', {'page': nbPage, 'size' : size}) }}" 
            draggable="false" 
            class="btn btn-light shadow ms-1 to-load {% if (currentPage == (nbPage)) %} disabled {% endif %}">
            <i class="bi bi-chevron-double-right"></i>
        </a>
    </div>

</div>
